/** === Main menu === */

.main-menu-toggler {
	position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.main-menu-toggler-label {
	font-size: $font__size_base;
	float: right;
	padding: 0.5rem;
	color: #fff;

	@include media(desktop) {
		display: none;
	}
}

.menu-main-nav-container {
	// Hide the menu by default on small screens
	display: none;
	clear: both;

	// Show the menu on small screens if the checkbox is checked
	[type="checkbox"]:checked ~ & {
		display: block;
	}

	// Show the menu on large screens no regardless of checkbox
	@include media(desktop) {
		display: block !important;
	}
}

.main-navigation {

	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: $color__link;
	z-index: 999;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
	font-size: 0;

	// Move the nav down a bit when the admin bar is present
	body.admin-bar & {
		/* WP core breakpoint */
		@media only screen and ( min-width: 782px ) {
			top: 32px;
		}
	}

	body.page & {
		display: block;
	}

	.main-menu {

		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;

		@include media(desktop) {
			flex-wrap: nowrap;
		}

		> li {

			font-size: $font__size_base;
			display: inline;
			position: relative;
			flex-basis: 100%;

			@include media(desktop) {
				flex-grow: 1;
				flex-basis: auto;
			}

			> a {

				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				font-weight: 700;
				background-color: $color__link;
				color: #fff;
				padding: 0.75rem;
				transition: background-color 0.25s ease-out;

				@include media(desktop) {
					height: 100%;
					padding: 0.75rem 1.5rem;
				}

				&:hover {
					background-color: $color__link-hover;
				}
			}

			&.menu-item-has-children {

				> a {
					position: relative;
					padding-right: 2rem;

					@include media(desktop) {
						padding-right: 2.25rem;
					}
				}

				> button {
					position: absolute;
					top: 0.7rem;
					right: 0.75rem;
					pointer-events: none;

					border: none;
					padding: 0;
					line-height: 2;
					text-decoration: none;
					background: transparent;
					-webkit-appearance: none;
					-moz-appearance: none;

					@include media(desktop) {
						right: 1rem;
					}
				}
			}

		}
	}

	.sub-menu {
		background-color: $color__link;
		list-style: none;
		display: none;
		padding-left: 0;

		@include media(desktop) {
			width: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
			border: 4px solid rgba(0,0,0,0.2);
			background-clip: content-box;
			border-top: 0;
		}

		> li {

			display: block;
			position: relative;

			&.menu-item-has-children {

				.submenu-expand {
					display: inline-block;
					position: absolute;
					width: calc( 24px + #{$size__spacing-unit} );
					right: 0;
					top: calc( .125 * #{$size__spacing-unit} );
					bottom: 0;
					color: white;
					line-height: 1;
					padding: calc( .5 * #{$size__spacing-unit} );

					svg {
						top: 0;
					}
				}

				.submenu-expand {
					margin-right: 0;
				}

				@include media(desktop) {

					.menu-item-has-children > a {

						&:after {
							content: "\203a";
						}
					}
				}
			}

			> a,
			> .menu-item-link-return {

				color: $color__background-body;
				font-size: $font__size-xs;
				font-weight: normal;
				display: block;
				line-height: $font__line-height-heading;
				text-align: center;
				text-shadow: none;
				padding: calc( .5 * #{$size__spacing-unit} ) calc( 24px + #{$size__spacing-unit} ) calc( .5 * #{$size__spacing-unit} ) $size__spacing-unit;
				white-space: nowrap;

				@include media(desktop) {
					font-size: $font__size-sm;
				}

				&:hover,
				&:focus {
					background: $color__link-hover;

					&:after {
						background: $color__link-hover;
					}
				}
			}

			> .menu-item-link-return {
				width: 100%;
				font-size: $font__size_base;
				font-weight: normal;
				text-align: left;
			}

			> a:empty {
				display: none;
			}

			&.mobile-parent-nav-menu-item {
				display: none;
				font-size: $font__size-sm;
				font-weight: normal;
			}

		}
	}

	/*
	 * Sub-menu styles
	 *
	 * :focus-within needs its own selector so other similar
	 * selectors don’t get ignored if a browser doesn’t recognize it
	 */
	.main-menu .menu-item-has-children:focus-within > .sub-menu {

		display: block;
		left: 0;
		margin-top: 0;
		opacity: 1;
		width: auto;
		min-width: 100%;


		/* Non-mobile position */
		@include media(desktop) {
			display: block;
			margin-top: 0;
			opacity: 1;
			position: absolute;
			left: 0;
			right: auto;
			top: auto;
			bottom: auto;
			height: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
			transform: none;
		}

		&.hidden-links {
			left: 0;
			width: 100%;
			display: table;
			position: absolute;

			@include media(desktop) {
				right: 0;
				left: auto;
				display: block;
				width: max-content;
			}
		}

		// .submenu-expand {
		// 	display: none;
		// }

		.sub-menu {
			display: block;
			margin-top: inherit;
			position: relative;
			width: 100%;
			left: 0;
			opacity: 1;

			/* Non-mobile position */
			@include media(desktop) {
				max-width: 100%;
			}
		}

		/* Nested sub-menu dashes */
		.sub-menu {
			counter-reset: submenu;
		}

		.sub-menu > li > a::before {
			font-family: $font__body;
			font-weight: normal;
			content: "\2013\00a0" counters(submenu, "\2013\00a0", none);
			counter-increment: submenu
		}
	}

	.main-menu .menu-item-has-children:hover > .sub-menu,
	.main-menu .menu-item-has-children:focus > .sub-menu,
	.main-menu .menu-item-has-children.is-focused > .sub-menu {

		display: block;
		width: auto;
		min-width: 100%;


		/* Non-mobile position */
		@include media(desktop) {
			display: block;
			margin-top: 0;
			opacity: 1;
			position: absolute;
			left: auto;
			right: 0;
			top: auto;
			bottom: auto;
			height: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
			transform: none;
		}

		&.hidden-links {
			left: 0;
			width: 100%;
			display: table;
			position: absolute;

			@include media(desktop) {
				right: 0;
				left: auto;
				display: table;
				width: max-content;
			}
		}

		.submenu-expand {
			display: none;
		}

		.sub-menu {
			display: block;
			margin-top: inherit;
			position: relative;
			width: 100%;
			left: 0;
			opacity: 1;

			/* Non-mobile position */
			@include media(desktop) {
				max-width: 100%;
			}
		}

		/* Nested sub-menu dashes */
		.sub-menu {
			counter-reset: submenu;
		}

		.sub-menu > li > a::before {
			font-family: $font__body;
			font-weight: normal;
			content: "\2013\00a0" counters(submenu, "\2013\00a0", none);
			counter-increment: submenu
		}
	}

	/**
	 * Fade-in animation for top-level submenus
	 */
	.main-menu > .menu-item-has-children:hover > .sub-menu {
		animation: fade_in 0.25s forwards;
	}

}

/* Menu animation */

@keyframes fade_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
