// Imported in to _settings.scss

// Grayscale colors
$gray-hue: hue(#6b717b);
$gray-saturation: saturation(#6b717b);
$black: hsl($gray-hue, $gray-saturation, 14%);
$charcoal: hsl($gray-hue, $gray-saturation, 24%);
$dark-gray: hsl($gray-hue, $gray-saturation, 39%);
$gray: hsl($gray-hue, $gray-saturation, 54%);
$light-gray: hsl($gray-hue, $gray-saturation, 69%);
$silver: hsl($gray-hue, $gray-saturation, 84%);
$white-smoke: hsl($gray-hue, $gray-saturation, 93%);
$off-white: #fafafa;
$white: #fefefe;

// LF Brand colors
$lf-dark-blue: #003366;
$lf-light-blue: #0099cc;
$lf-light-blue-hatch: #0077BB;
$lf-gray: #A1A1A4;
$lf-gray-hatch: #807F83;
$lf-yellow: #FFC557;
$lf-green: #a1d683;
$lf-red: #ff595a;

// Style Guide 2020
$lf-primary-400: $lf-light-blue;
$lf-primary-700: $lf-dark-blue;
$lf-grey-100: #fbfbfb; // background fill
$lf-grey-200: #e9e9e9; // outline / divider
$lf-grey-300: #c4c4c4; // grey line
$lf-grey-400: #7a7a7a; //  text lighter
$lf-grey-700: #333333; // text
$text-color: $lf-grey-700;
$header-link-color: $lf-grey-700;

// Additional colors (origin unknown)
$dark-nav-color: #2C3840;
$green-dark: #007a00;
$orange: #e2750f;
$blue-dark: #004e7a;
// top nav blue - rgba(10, 59, 97, 100)
