/** === Align Wide/Full === */
.entry-content,
.entry-summary,
.entry-header,
.entry-footer {

  &>* {
    margin-left: auto;
    margin-right: auto;
    max-width: map-deep-get($breakpoints, xlarge);

    &.alignfull {
      clear: both;
      max-width: none;
      width: calc(100% + 2rem);
      margin-right: -1rem;
      margin-left: -1rem;
      padding-right: rem-calc(10);
      padding-left: rem-calc(10);

      @include breakpoint(medium) {
        width: calc(100% + 56px);
        margin-left: -28px;
        margin-right: -28px;
      }

      // Flush align all the sections!!!
      & {
        margin-bottom: 1.5rem !important;
      }

      &+.alignfull {
        margin-top: -1.5rem !important;
      }

      .alignwide {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &.alignfull:last-child {
      margin-bottom: 0 !important;
    }
  }

  iframe {
    margin-left: auto;
    margin-right: auto;
    max-width: map-deep-get($breakpoints, xlarge);

    @include breakpoint(medium down) {
      max-width: initial;
      max-width: 100%;
    }

    @include breakpoint(large down) {
      max-width: initial;
      max-width: 100%;
    }
  }

  // TODO: The above star selector for max content width is heavy-handed.
  // Refactor content width styles so the following ul fix isn't needed.

  &>ul,
  &>ol {
    padding-left: 1.375rem;

    >li {
      padding-left: 0.375rem;
    }
  }
}

.alignwide {
  margin-left: auto;
  margin-right: auto;
  max-width: map-deep-get($breakpoints, xlarge);
}
