/*
Frontend styles for gutenberg blocks
*/

/** === Base Color Palatte === */
@each $color, $code in $foundation-palette {

	.has-#{$color}-background-color {
		background-color: $code;
	}

	.has-#{$color}-color {
		color: $code;
	}
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button;
		@each $color, $code in $foundation-palette {

			&.has-#{$color}-background-color {
					background-color: $code;
			}

			&.has-#{$color}-color {
					color: $code;
			}
		}
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		// background: transparent;
		.wp-block-button__link{
			// background: transparent;
		}
	}
}

/** === File === */
.wp-block-file .wp-block-file__button{
	@include button();
	border-radius: rem-calc(8);
	box-shadow: 0 0.25em 0 0 rgba(0,0,0,0.1);
}

/** === Align Wide/Full === */
.entry-content > *,
.entry-summary > *,
.entry-header > *,
.entry-footer > * {
	margin-left: auto;
	margin-right: auto;
	// max-width: calc(#{map-deep-get($breakpoints, medium)} - #{map-deep-get($grid-column-gutter, small)} - #{map-deep-get($grid-column-gutter, small)});
	max-width: map-deep-get($breakpoints, large);

	&.alignwide {
		clear: both;

		@include breakpoint(medium) {
			width: 100%;
			// max-width: map-deep-get($breakpoints, large);
			max-width: calc(100% - $global-margin*2);
		}
	}

	&.alignfull {
		clear: both;
		max-width: none;
		width: calc(100% + 1.25rem);
		margin-right: -0.625rem;
		margin-left: -0.625rem;

		// Flush align all the sections!!!
		& { margin-bottom: 1.5rem !important; }
		& + .alignfull { margin-top: -1.5rem !important; }
	}
}

/** === Gallery overrides === */
body .main-container .main-grid .wp-block-gallery {
	@include flex-align(center, null);

	@for $i from 1 through 9 {
		&.gallery-columns-#{$i} {
			@include xy-grid-layout(2, '.blocks-gallery-item', true);
		}
		@include breakpoint(medium){
			&.gallery-columns-#{$i} {
				@include xy-grid-layout(4, '.blocks-gallery-item', true, (small: 30px));
			}
		}
		@include breakpoint(large) {
			&.gallery-columns-#{$i} {
				@include xy-grid-layout($i, '.blocks-gallery-item', true, (small: 30px));
			}
		}
	}

	.blocks-gallery-item {
		@include xy-gutters(3rem, padding, top left bottom right);
		margin: 0 !important;
		flex: 0 1 auto;

		a, img, figure {
			object-fit: contain;
			display: flex;
			justify-content: center;
		}
	}

	@include breakpoint(large) {
		&.large img { max-width: 100%; }
		&.medium img { max-width: 85%; }
		&.small img { max-width: 70%; }
	}
}
