/*
Frontend styles for gutenberg blocks
*/

/** === Base Color Palatte === */
@each $color, $code in $foundation-palette {

	.has-#{$color}-background-color {
		background-color: $code;
	}

	.has-#{$color}-color {
		color: $code;
	}
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button;
		@each $color, $code in $foundation-palette {

			&.has-#{$color}-background-color {
					background-color: $code;
			}

			&.has-#{$color}-color {
					color: $code;
			}
		}
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		// background: transparent;
		.wp-block-button__link{
			// background: transparent;
		}
	}
}

/** === File === */
.wp-block-file .wp-block-file__button{
	@include button();
}

/** === Align Wide/Full === */
.entry-content > *,
.entry-summary > *,
.entry-header > *,
.entry-footer > * {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(#{map-deep-get($breakpoints, medium)} - #{map-deep-get($grid-column-gutter, small)} - #{map-deep-get($grid-column-gutter, small)});

	&.alignwide {
		clear: both;

		@include breakpoint(medium) {
			width: 100%;
			max-width: map-deep-get($breakpoints, large);
		}
	}

	&.alignfull {
		clear: both;
		max-width: none;
		width: calc(100% + 1.25rem);
		margin-right: -0.625rem;
		margin-left: -0.625rem;
	}
}

/** === Gallery overrides === */
body .main-container .main-grid .wp-block-gallery {
	@include flex-align(center, null);

	&.large { @include xy-grid-layout(1, '.blocks-gallery-item'); }
	&.medium { @include xy-grid-layout(2, '.blocks-gallery-item'); }
	&.small { @include xy-grid-layout(2, '.blocks-gallery-item'); }

	@include breakpoint(medium) {
		&.large { @include xy-grid-layout(2, '.blocks-gallery-item'); }
	}

	@include breakpoint(large) {
		&.large { @include xy-grid-layout(3, '.blocks-gallery-item'); }
		&.medium { @include xy-grid-layout(4, '.blocks-gallery-item'); }
		&.small { @include xy-grid-layout(5, '.blocks-gallery-item'); }
		// &.columns-6 { @include xy-grid-layout(4, '.blocks-gallery-item'); }
	}

  .blocks-gallery-item {
    @include xy-gutters(3rem, padding, top left bottom right);
		margin: 0 !important;
    flex: 0 1 auto;
  }
}
