@charset 'utf-8';

@import 'global/fonts';
@import 'settings';
@import 'foundation';
@include foundation-global-styles;
@import 'global/xy-grid-classes'; // @include foundation-xy-grid-classes;
@include foundation-button;
@include foundation-forms;
@include foundation-button-group;
@include foundation-callout;
@include foundation-dropdown;
@include foundation-responsive-embed;
@include foundation-media-object;
@include foundation-pagination;
@include foundation-sticky;
@include foundation-thumbnail;

// Global.
@import 'global/accessibility';
@import 'global/gutenberg';
@import 'global/custom-color-palette';
@import 'global/structure';

// Components.
// Smallest elements.
@import 'components/buttons';
@import 'components/cards';
@import 'components/columns';
@import 'components/cover';
@import 'components/embeds';
@import 'components/file';
@import 'components/forms';
@import 'components/modal';
@import 'components/images';
@import 'components/group';
@import 'components/quote';
@import 'components/separator';
@import 'components/spacer';
@import 'components/tables';
@import 'components/typography';

// Modules.
// Made up of components/needing their own styling.
@import 'modules/event-calendar';
@import 'modules/event-footer';
@import 'modules/event-footer--legal';
@import 'modules/event-header';
@import 'modules/event-listing';
@import 'modules/event-subpage';
@import 'modules/gallery';
@import 'modules/header-global';
@import 'modules/header--lf-bar';
@import 'modules/header--logo';
@import 'modules/home-hero';
@import 'modules/non-event-footer';
@import 'modules/non-event-hero';
@import 'modules/photonic';
@import 'modules/post-navigation';
@import 'modules/post-single';
@import 'modules/sticky';
@import 'modules/team';
@import 'modules/cookies';

// Blocks
// Imported blocks as plugins.
@import 'blocks/button-with-expiry';
@import 'blocks/countdown';
@import 'blocks/cover';
@import 'blocks/custom-iframe';
@import 'blocks/icon-list';
@import 'blocks/image-box';
@import 'blocks/list';
@import 'blocks/multi-part-page'; // tab container.
@import 'blocks/pricing-grid';
@import 'blocks/speakers';
@import 'blocks/speakers-block-2';
@import 'blocks/sponsors';
@import 'blocks/text-over-img';
@import 'blocks/track-grid';
