button {
  cursor: pointer;
}

.main-container .button {
  box-shadow: none;
  border-radius: rem-calc(8);
}

.button.gray {
  background-color: $white-smoke;
  color: darken($primary-color, 10%);

  &:hover {
    background-color: darken($white-smoke, 10%);
    color: darken($primary-color, 20%);
  }
}

.button.blue-dark {
  background-color: $blue-dark;

  &:hover {
    background-color: darken($blue-dark, 10%);
  }
}

.button.orange {
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 10%);
  }
}

.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none;
}

.wp-block-buttons {
  .wp-block-button {
    transition: all 0.3s ease-in-out;
    position: relative;

    .wp-block-button__link {
      padding: 0.585rem 1.5rem;
      font-size: 1.075rem;
      text-transform: uppercase;
      line-height: 1.5 !important;
      box-shadow: none;
    }

    &:active {
      transition: all 0.3s ease-in-out;
      top: 1px;
    }

    // add special styling for squared buttons
    &.is-style-squared .wp-block-button__link {
      border-radius: 0 !important;
    }

    // add outline styles
    &.is-style-outline .wp-block-button__link {
      @extend .hollow;
    }

    @each $name, $size in $button-sizes {
      &.#{$name} .wp-block-button__link {
        font-size: $size;
      }
    }

    &.xlarge .wp-block-button__link {
      font-size: 2rem;
    }

    &.expanded,
    &.expanded .wp-block-button__link {
      width: 100%;
    }
  }
}

// Homepage call-to-action buttons
.homepage--call-to-action {
  a {
    display: inline-block;
    margin: 0.85em 1em;
    font-size: rem-calc(12);
    font-weight: bold;
    text-transform: uppercase;

    &:first-child {
      @include button();
      font-size: rem-calc(12);
      border-radius: rem-calc(8);
      margin: 0;
    }
  }
}

.calendar-buttons {
  text-align: right;
  margin-bottom: 2rem;
  a::after {
    content: '\2192';
    margin-left: 0.25em;
  }
}

.lf-button {
  background-color: $lf-blue;
  color: $pure-white;
  padding: 11px 50px;
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  transition:
    background-color 0.25s ease-out,
    color 0.25s ease-out;
  text-align: center;
  max-width: 100%;

  @media (max-width: 400px) {
    .lfasiallcci & {
      padding: 11px 20px;
    }
  }

  &:hover {
    color: $white;
    background: #0065ad;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &:focus {
    color: $white;
  }
}

// makes button plain like so its suitable as link.
.button-reset {
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  display: block;
  margin: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
  margin-left: inherit;
  margin-right: inherit;
  width: unset;
  color: inherit;
  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}
