.wp-block-columns.is-style-feature-grid, .wp-block-columns.is-style-feature-grid-with-bounce {
    .wp-block-column {
        border-radius: 4px;
        box-shadow: 0 5px 5px 0 rgba(18,63,82,.035), 0 0 0 1px rgba(176,181,193,.2);
        padding: 60px 35px;
        margin: 17.5px;
    }
}

.wp-block-columns.is-style-feature-grid-with-bounce {
    div.wp-block-column {
        transition: all .3s cubic-bezier(.84,.12,.59,.83);
    }
    div.wp-block-column:hover {
        transform: translateY(-10px);
    }
}
