blockquote {
  cite {
    opacity: 0.75;
  }
}

.wp-block-quote {
  &.is-large,
  &.is-style-large {
    margin: auto;
  }
}

cite:before,
div.wp-block-quote__citation:before {
  content: none;
}

.wp-block-pullquote {
  blockquote cite {
    font-size: 1rem;
    margin-top: 1rem;
  }

  &.is-style-solid-color {
    @extend .padding-border-shadow-defaults;

    blockquote {
      @media (max-width: 768px) {
        max-width: 75%;

        p {
          font-size: 28px;
        }
      }

      @media (max-width: 414px) {
        max-width: 90%;
      }
    }
  }

  // defaults.
  &:not(.is-style-solid-color) {
    border-top: 4px solid #555d66;
    border-bottom: 4px solid #555d66;
    margin-bottom: 28px;
    color: #40464d;

    blockquote {
      border-left: none;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
