.wp-block-group {
  padding: 15px;

  @media (min-width: 414px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    padding: 35px;
  }

  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(18, 63, 82, .035),
  0 0 0 1px rgba(176, 181, 193, .2);

  &.alignfull {
    border-radius: 0;
  }
}
