// setup a class to help not repeat the same styles later.
.padding-border-shadow-defaults {
  box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2);
  border-radius: 12px;
  padding: 15px;
  overflow: hidden;

  @media (min-width: 414px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    padding: 35px;
  }

  &.alignfull,
  [data-align="full"] & {
    border-radius: 0;
  }
}

.wp-block-group {
  &.is-style-border,
  &.is-style-event-gradient {
    @extend .padding-border-shadow-defaults;
  }

  &.is-style-constrained-50 {
    > * {
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 768px) {
        width: 80%;
      }
    }
  }

  &.is-style-constrained-70 {
    > * {
      width: 70%;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 768px) {
        width: 90%;
      }
    }
  }

  &.is-style-constrained-75 {
    > * {
      width: 75%;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 768px) {
        width: 90%;
      }
    }
  }
}
