.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(100);

  @include breakpoint(medium) {
    height: rem-calc(200);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(400);
  }
}

// This is needed to override Foundation jank.
figure.wp-block-image,
div.wp-block-image figure {
  margin: 0 0 1em;
}

.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text {
  font-size: 90%;
  color: #666;
  padding: rem-calc(10) 0;
}

// Images in background
.background-image-wrapper {
  overflow: hidden;
  position: relative;
}

// apply to figure
.figure-container {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    // added below to stop flexbox messing with the height on load.
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
  }
}

// apply to content inside
.content-wrapper {
  position: relative;
  z-index: 10;
}
