.form-newsletter {
    &.full-width {

        .newsletter__form {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
        
            & > :not(:last-child) {
                margin-right: 10px;
            }
        
            .button {
                border: 1px solid white;
                color: white;
                background-color: transparent;
                box-shadow: none;
                border-radius: 0;
            }
        
            @media(min-width: 660px) {
                flex-direction: row;
                justify-content: center;
            }
        }
    }

    &.box {

        .newsletter__form {
            display: flex;
            flex-wrap: wrap;

            .medium-6 {
                width: 50%;

                &:first-child {
                    margin-right: 10px;
                }
            }

            label:not(.medium-6),
            .button {
                width: 100%;
            }
        }
    }
}