h6 {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

.is-style-section-heading {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  word-spacing: .2rem;
}

.is-style-one-line-section-heading {
  text-transform: uppercase;
  letter-spacing: .2rem;
  word-spacing: .2rem;
  margin-bottom: 0;

  @media (min-width: 768px) {
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

.unstyled-link {
  color: inherit;
}

.text-medium {
  font-size: 1rem;
}

.text-small {
  font-size: rem-calc(13);
}

.text-tiny {
  font-size: rem-calc(10);
}

.text-weight-normal {
  font-weight: $global-weight-normal;
}

// .has-large-font-size {
//   font-size: rem-calc(19) !important;

//   @include breakpoint(medium) {
//     font-size: rem-calc(31) !important;
//   }
// }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.line-height-tight {
  line-height: 1.1;
}

dd+dt {
  margin-top: $defnlist-term-margin-bottom;
}

.icon--inline {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;

  &.small {
    font-size: 0.875em;
    position: relative;
    bottom: 0.05em;
  }

  &.semitransparent {
    opacity: 0.6;
  }

  .prevent-orphaned-icon & {
    margin-right: -1em;
  }

}

::-ms-clear {
  // nix IE's default clear buttons
  display: none;
}

.excerpt-ellipses {
  opacity: 0.5;
}

article.lfe_weekly_snap h3 {
  border-bottom: 1px solid grey;
}
