$clarity-city: 'Clarity City', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, Roboto,
  Ubuntu, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@font-face {
  font-display: fallback;
  font-family: 'Clarity City';
  font-weight: 400;
  font-style: normal;
  src: local('ClarityCity-Regular'), local('Clarity City'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-400.woff2') format('woff2'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-400.woff') format('woff'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-400.ttf') format('ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'Clarity City';
  font-weight: 600;
  font-style: normal;
  src: local('ClarityCity-SemiBold'), local('Clarity City'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-600.woff2') format('woff2'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-600.woff') format('woff'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-600.ttf') format('ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'Clarity City';
  font-weight: 700;
  font-style: normal;
  src: local('ClarityCity-Bold'), local('Clarity City'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-700.woff2') format('woff2'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-700.woff') format('woff'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-700.ttf') format('ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'Clarity City';
  font-weight: 800;
  font-style: normal;
  src: local('ClarityCity-ExtraBold'), local('Clarity City'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-800.woff2') format('woff2'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-800.woff') format('woff'),
    url('/wp-content/themes/lfevents/dist/assets/fonts/ClarityCity-800.ttf') format('ttf');
}

.site-container.use-cncf-font {
  font-family: $clarity-city;
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: $clarity-city;
  }
}
