/*!
 * Gutenberg Editor Styles
 */

@charset 'utf-8';

@import 'settings';
@import "global/custom-color-palette";
@import 'foundation'; // ?
@import 'admin/foundation-typography-admin';
@include foundation-button; // ?
@include foundation-table; // ?

// Selectively copied from app.scss

// Components.
// Smallest elements.
@import "components/buttons";
@import "components/cards";
@import "components/columns";
@import "components/cover";
@import "components/embeds";
@import "components/file";
@import "components/forms";
@import "components/images";
@import "components/group";
@import "components/links";
@import "components/quote";
@import "components/separator";
@import "components/spacer";
// @import "components/tables"; // don't include this, use custom below.
@import "components/typography";

// Modules.
// Made up of components/needing their own styling.
@import "modules/event-calendar";
@import "modules/event-header";
@import "modules/event-listing";
@import "modules/event-subpage";
@import "modules/gallery";
@import "modules/gravityforms";
@import "modules/photonic";
@import "modules/post-single";

// Blocks
// Imported blocks as plugins.
@import "blocks/button-with-expiry";
@import "blocks/countdown";
@import "blocks/icon-list";
@import "blocks/image-box";
@import "blocks/multi-part-page"; // tab container.
@import "blocks/newsletter-form";
@import "blocks/pricing-grid";
@import "blocks/speakers";
@import "blocks/sponsors";
@import "blocks/text-over-img";
@import "blocks/track-grid";

// Admin Only.
@import "admin/tables-admin";

// Block Editor - Main column width.
.wp-block {
  max-width: 100%;

  @media (min-width: 1200px) {
    max-width: 1000px;
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}

// Block Editor - Width of "wide" blocks.
.wp-block[data-align="wide"] {
  max-width: 100%;

  @media (min-width: 1200px) {
    max-width: 1000px;
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}

// Block Editor - Width of "full-wide" blocks.
.wp-block[data-align="full"] {
  max-width: none;
}

// Make post title look a bit more normal
.editor-post-title__block .editor-post-title__input {
  @extend h1;
}

// Add padding to make more easily selectable.
.wp-block-group,
.wp-block-columns {
  padding: 35px 0;
}

// add guide to group to make more visible in editor.
.wp-block-group {
  border: 1px solid #F3F4F5;

  &:before {
    content: 'GROUP BLOCK';
    color: #D8D8D8;
    position: absolute;
    left: 1px;
    top: 0;
    line-height: 1;
    transform: translateY(-100%);
  }
}

// add guide to columns to make more visible in editor.
.wp-block-columns {
  border: 1px solid #F3F4F5;

  &:before {
    content: 'COLUMNS BLOCK';
    color: #D8D8D8;
    position: absolute;
    left: 1px;
    top: 0;
    line-height: 1;
    transform: translateY(-100%);
  }
}

// Move list discs in to view.
.block-editor-block-list__block li {
  margin-left: 1rem;
}
