.event-header .hamburger-icon {
  &.is-white {
    @include hamburger($white, $white, 20px, 16px, 2px, 3);
  }

  &.is-black {
    @include hamburger($black, $black, 20px, 16px, 2px, 3);
  }
}

.menu-toggler {
  &,
  &:hover,
  &:focus {
    background-color: transparent;
    margin: 0;
    outline: 0;
  }
}

.event-home-link img {
  display: inline-block;
  width: auto;
  max-height: 4rem;
  min-height: 4rem;
  max-width: 93%;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  transform: translateX(26px); // accounts for 50% of mobile navigation button.
}

.event-header {
  @include clearfix;
  position: relative;
  z-index: 2;
  background-color: rgba(10, 59, 97, 100);
  box-shadow: none;
  color: #ffffff;

  .admin-bar &.is-stuck {
    top: 32px !important;
  }

  a {
    color: inherit !important;
  }

  .pre-nav {
    display: flex;
    align-content: stretch;

    @include breakpoint(large) {
      display: none;
    }

    a {
      @include button();
      @include button-style(transparent, transparent, $white);
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
      flex-grow: 1;
    }

    .menu-toggler {
      flex-grow: 0;
    }
  }

  .event-alert-bar {
    padding: 6px;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;

    a {
      text-decoration: underline;
    }
  }
}

#popout-header-link {
  flex-grow: 1.5;

  a {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.1s ease-in-out 0s,
      border-bottom-right-radius 0.2s ease-in-out 0s;

    .event-header.is-stuck & {
      background-color: transparent !important;
      transition: transform 0.3s ease-in-out 0.3s, box-shadow 0.3s ease-in-out 0.3s,
        background-color 0.3s ease-in-out 0.6s, border-bottom-right-radius 0.3s ease-in-out 0.3s;

      img {
        transition: transform 0.3s ease-in-out 0.3s;
      }
    }

    .event-header:not(.is-stuck) & {
      border-bottom-right-radius: 1rem;
      box-shadow: none;
      transform: scaleY(1.4);

      img {
        transform: scaleX(1.26) scaleY(0.9);
      }
    }
  }

  img {
    transition: transform 0.2s ease-in-out 0s;
  }
}

.event-menu {
  clear: both;
  background-color: inherit;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);

  ul,
  li {
    background-color: inherit;
  }

  ul {
    list-style: none;
    margin: 0 !important;
  }

  .event-menu-list {
    @include button-group('.page_item', 0);
    @include button-group-expand('.page_item', 0);

    @include breakpoint(medium down) {
      @include button-group-stack('.page_item');
    }

    > li {
      @include breakpoint(large) {
        &.current_page_item > a,
        &.current_page_ancestor > a {
          position: relative;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      &:first-child {
        // HACK: We should add a class w/ a WP walker for this selector
        @include breakpoint(medium down) {
          display: none;
        }
      }

      &.other-events {
        @include breakpoint(medium down) {
          border-top: 4px solid rgba(255, 255, 255, 0.2);
          margin-top: 2em;
        }

        @include breakpoint(large) {
          max-width: 16rem;
        }

        > a {
          @include breakpoint(medium down) {
            display: none;
          }
        }

        img {
          margin: 0.5em;
          max-width: 200px;
        }

        .children li:first-child a,
        .children li:last-child a {
          flex-direction: column;
        }

        .other-logo-wrapper {
          width: 100%;
          min-width: 16rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .other-seperator {
          display: flex;
          align-items: center;
          padding-left: 20px;
          flex-shrink: 0;

          &::before {
            content: '';
            height: 40px;
            width: 1px;
            margin-right: 14px;
          }

          &.white::before {
            background-color: $white;
          }

          &.black::before {
            background-color: #000;
          }
        }

        .other-text {
          margin-top: 1rem;
          display: block;
        }
      }

      a {
        @include button();
        @include button-style(transparent, rgba(0, 0, 0, 0.2), $white);
        font-weight: bold;
        font-size: rem-calc(12);
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(large) {
          min-height: 100%;
        }

        @include breakpoint(xlarge) {
          font-size: rem-calc(14);
        }
      }

      > a {
        @include breakpoint(medium down) {
          justify-content: left;
          font-weight: 900;
          font-size: rem-calc(14);
        }
      }
    }

    .page_item_has_children {
      position: relative;

      @include breakpoint(medium down) {
        &:not(.other-events) a {
          justify-content: left;
        }

        > a[href='#'] {
          opacity: 0.6;
          padding-bottom: 0;
          cursor: default;

          &:hover {
            background-color: transparent;
          }
        }

        &:not(.other-events) .children a {
          padding-left: 1.5em;

          &::before {
            content: '—';
            margin-right: 0.75em;
          }
        }
      }

      @include breakpoint(medium down) {
        .children {
          background: transparent !important;
        }
      }

      @include breakpoint(large) {
        > a {
          // controls the arrow in menu.
          @include button-dropdown(5px, currentColor, 1rem);
          cursor: default;

          &::after {
            opacity: 0.7;
            top: 0.1em;
            transition: transform 0.2s ease-in-out;
          }
        }

        &:hover > a {
          background-color: rgba(0, 0, 0, 0.2);
        }

        &:hover > a::after {
          transform: scaleY(-1);
        }

        .children {
          position: absolute;
          top: 100%;
          right: 0;
          min-width: 100%;
          box-shadow: none;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.4s;
          max-height: calc(100vh - 6rem);
          overflow: auto;

          a {
            display: block;
            font-size: rem-calc(12);
            border-top-color: rgba(255, 255, 255, 0.1);

            @include breakpoint(large) {
              font-size: rem-calc(14);
            }
          }

          .current_page_item > a {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }

        &:hover > .children,
        &:focus > .children,
        &:focus-within > .children {
          visibility: visible;
          opacity: 1;
        }
      }

      &:not(.other-events) .children a {
        text-align: left;
      }
    }

    @include breakpoint(medium down) {
      &.is-black {
        .page_item_has_children:not(.other-events) .children a::before {
          content: '—';
          color: rgba($black, 0.6);
        }
      }

      &.is-white {
        .page_item_has_children:not(.other-events) .children a::before {
          content: '—';
          color: rgba($white, 0.6);
        }
      }
    }
  }
}
