// Button Container.
.wp-block-lf-buttons-with-expiry {
  display: flex;
  flex-wrap: wrap;

  &.alignleft {
    justify-content: flex-start;
  }

  &.aligncenter {
    justify-content: center;
  }

  &.alignright {
    justify-content: flex-end;
  }

  .wp-block-lf-button-with-expiry {
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

// Singular Buttons.
.wp-block-lf-button-with-expiry {
  position: relative;
  border-radius: 0.5rem;

  .wp-block-button__link {
    text-transform: uppercase;
    padding: 0.585rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.075rem;
    position: relative;
    align-content: center;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    word-break: break-word;
    z-index: 1;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    font-family: inherit;
    -webkit-appearance: none;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5 !important;

    &:not(.has-background) {
      background-color: #09c;

      &:hover {
        background-color: #0082ad;
      }
    }

    &:not(.has-text-color) {
      color: #fefefe;

      &:hover {
        color: #fefefe;
      }
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      background: #cccccc !important;
      color: #888888 !important;
      box-shadow: none;
    }

    &.button-small {
      padding: 0.38rem 1.25rem;
      font-size: 0.85rem;
    }

    &.button-medium {
      padding: 0.38rem 1.25rem;
      font-size: 1rem;
    }

    &.button-large {
      padding: 0.585rem 1.5rem;
      font-size: 1.075rem;
    }

    &.button-xlarge {
      padding: 0.8rem 1.75rem;
      font-size: 1.15rem;
    }

    &:hover {
      transition: all 0.3s ease-in-out;

      &.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
        background: linear-gradient(135deg, #015889, #723ea2);
      }

      &.has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background {
        background: linear-gradient(135deg, #03935e, #036ba5);
      }

      &.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
        background: linear-gradient(135deg, #63b392, #03935e);
      }

      &.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
        background: linear-gradient(135deg, #d29b03, #c15102);
      }

      &.has-luminous-vivid-orange-to-vivid-red-gradient-background {
        background: linear-gradient(135deg, #c15102, #a62626);
      }

      &.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
        background: linear-gradient(135deg, #d8d7d7, #8d9ba5);
      }

      &.has-cool-to-warm-spectrum-gradient-background {
        background: linear-gradient(135deg, #3abaaf, #735aa0 20%, #9e1c8e 40%, #b11e5f 60%, #c75651 80%, #c7c33b);
      }

      &.has-blush-light-purple-gradient-background {
        background: linear-gradient(135deg, #c19cb2, #7574b9);
      }

      &.has-blush-bordeaux-gradient-background {
        background: linear-gradient(135deg, #c8a385, #cb2727 50%, #6b003e);
      }

      &.has-purple-crush-gradient-background {
        background: linear-gradient(135deg, #2ab9bb, #3117aa 50%, #8e1ad2);
      }

      &.has-luminous-dusk-gradient-background {
        background: linear-gradient(135deg, #cea357, #a0409a 50%, #4158d0);
      }

      &.has-hazy-dawn-gradient-background {
        background: linear-gradient(135deg, #c68986, #a69fb2);
      }

      &.has-pale-ocean-gradient-background {
        background: linear-gradient(135deg, #fce897, #8eb2a6 50%, #267f8a);
      }

      &.has-electric-grass-gradient-background {
        background: linear-gradient(135deg, #a5ca68, #71ce7e);
      }

      &.has-subdued-olive-gradient-background {
        background: linear-gradient(135deg, #fafac5, #52845a);
      }

      &.has-atomic-cream-gradient-background {
        background: linear-gradient(135deg, #fec569, #002a32);
      }

      &.has-nightshade-gradient-background {
        background: linear-gradient(135deg, #16042c, #27a0a2);
      }

      &.has-midnight-gradient-background {
        background: linear-gradient(135deg, #010252, #205fcf);
      }
    }

    &:active {
      transition: all 0.3s ease-in-out;
      top: 1px;

      &.disabled {
        top: 0;
      }
    }
  }
}
