// Image Box plugin

.wp-block-lf-image-box:not(.editor-only) {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;

  >div {
    border-radius: 25px;
  }

  &.align-center {

    p,
    h4 {
      text-align: center;
    }
  }

  &.align-left {

    p,
    h4 {
      text-align: left;
    }
  }

  &.align-right {

    p,
    h4 {
      text-align: right;
    }
  }

  &.columns-1 {
    .column:not(:nth-child(1)) {
      display: none;
    }
  }

  &.columns-2 {

    .column:nth-child(3),
    .column:nth-child(4) {
      display: none;
    }
  }

  &.columns-3 {
    .column:nth-child(4) {
      display: none;
    }
  }

  .box-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
  }

  .column {
    // applied at all sizes.
    overflow: hidden;
    min-height: var(--image-box-height);
    display: flex;
    position: relative;

    @media (max-width: 767px) {
      flex-direction: column;
      border: 1px solid lightgray;

      .image-box-overlay {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 250px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
      }

      &.column-1 .image-box-overlay {
        background-image: var(--image-box-img1);
      }

      &.column-2 .image-box-overlay {
        background-image: var(--image-box-img2);
      }

      &.column-3 .image-box-overlay {
        background-image: var(--image-box-img3);
      }

      &.column-4 .image-box-overlay {
        background-image: var(--image-box-img4);
      }

      .image-box-content {
        padding: 10px 10px 20px 10px;

        p {
          font-size: 0.9em;
          margin-block-start: 0;
          margin-block-end: 0;

        }
      }
    }

    @media (min-width: 768px) {

      * {
        transition: all 0.3s ease-in;
      }

      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
      box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035),
      0 0 0 1px rgba(176, 181, 193, 0.2);


      flex-direction: column;
      justify-content: flex-end;
      padding: 0;

      &.column-1 {
        background-image: var(--image-box-img1);
      }

      &.column-2 {
        background-image: var(--image-box-img2);
      }

      &.column-3 {
        background-image: var(--image-box-img3);
      }

      &.column-4 {
        background-image: var(--image-box-img4);
      }

      &:hover {
        .image-box-overlay {
          opacity: 0.7;
        }

        .image-box-content {
          transition: all .4s cubic-bezier(.84, .12, .59, .83) !important;
          transition-delay: .2s;
          transform: translateY(0)
        }

        .image-box-content p {
          background: rgba(0, 0, 0, 1);
        }
      }

      .image-box-overlay {
        background-color: #000;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        border-radius: 25px;
        z-index: 2;
      }

      .image-box-content {
        position: relative;
        z-index: 4;
        transform: translateY(100%);
        color: white;

        h4 {
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          margin: 0;
          padding-top: 40px;
          padding-bottom: 20px;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        }

        p {
          opacity: 1;
          width: 100%;
          margin-bottom: 0;
          padding: 20px;
          background: rgba(0, 0, 0, 0.60);
        }
      }

    }
  }
}
