.sb2-block-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @media (min-width: 415px) {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.sb2-speaker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  button.button-reset {
    width: 100%;
    color: #000;
    -webkit-tap-highlight-color: transparent;
  }

  // Speakers image.
  &__figure {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;

    img {
      object-fit: cover;
      border: 3px solid var(--event-color-1);
      border-radius: 50%;
      transition: opacity 0.25s ease-in;
      aspect-ratio: 1 / 1;
      min-width: 100px;
      min-height: 100px;
      width: 100%;
      height: auto;
      max-width: 280px;
      @media (min-width: 340px) {
        min-width: 280px;
        min-height: unset;
      }
      @media (min-width: 1024px) {
        min-width: 240px;
        max-width: 240px;
      }
      @media (hover: hover) {
        &:hover {
          opacity: 0.9;
          transition: opacity 0.25s ease-in;
        }
      }
    }
  }
  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__name {
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    margin-top: 24px;
  }
  &__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }
  &__company-logo,
  &__company-logo-link,
  &__company-text {
    display: block;
  }
  &__company-container {
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  &__company-logo-link {
    display: inline-block;
    cursor: pointer;
  }
  &__company-logo {
    height: 60px;
    width: auto;
    max-width: 180px;
    object-fit: contain;
    object-position: 0%;
  }
  &__company-text {
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
    margin: 0px;
  }
}

// Modal Structure
.speaker-modal {
  position: fixed;
  background: #fff;
  z-index: 667;
  border: 0;
  overflow: auto;
  min-height: 300px;
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  @media (min-width: 768px) {
    left: 50%;
    right: 50%;
    width: 75%;
    max-width: 800px;
    padding: 0;
    min-height: 300px;
    height: 70vh;
    max-height: 900px;
    transform: translateX(-50%);
    @media screen and (min-width: 1000px) and (min-height: 1500px) {
      max-height: 1200px;
    }
  }
  &-close__wrapper {
    @media (max-width: 767px) {
      position: sticky;
      top: -16px;
      width: 100%;
      z-index: 99;
      background-color: #fff;
      display: flex;
      justify-content: flex-end;
    }
  }
  &-close {
    background: #fff;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    @media (min-width: 768px) {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    @media (min-width: 1000px) {
      top: 0;
      right: 0;
    }
    &::before {
      content: '';
      display: block;
      position: relative;
      background: url('../../src/images/icon-close.svg');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #000;
      width: 50px;
      height: 50px;
      z-index: 100;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 1;
      @media (min-width: 1000px) {
        width: 50px;
        height: 50px;
      }
    }
    &:hover {
      &::before {
        opacity: 0.5;
      }
    }
    &:focus,
    &:hover,
    &:active {
      outline-color: #747474;
      color: #000;
    }
    &-overlay[data-background-click='disabled'] {
      cursor: auto;
    }
  }
  &-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 666;
    cursor: pointer;
    background: black;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
  }
}

// Modal Styling.
.speaker-modal {
  // the whole modal.
  &-wrapper {
    line-height: 150%;
    @media (min-width: 1024px) {
      line-height: 130%;
    }
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
  }
  &__header {
    @media (min-width: 340px) and (max-width: 767px) {
      padding: 1rem 1rem 0 1rem;
    }
    @media (min-width: 768px) {
      padding: 50px 20px 0 20px;
    }
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 50px 60px 0 60px;
    }
  }
  // surrounds the content text.
  &__text-content {
    margin-top: 1rem;
    font-size: 15px;
    @media (min-width: 340px) and (max-width: 767px) {
      padding: 0 1rem 0 1rem;
    }
    @media (min-width: 768px) {
      padding: 0 20px 0 20px;
      font-size: 16px;
    }
    @media (min-width: 1024px) {
      padding: 0 60px 0 60px;
      margin-top: 40px;
    }
    p:not(:last-child) {
      margin-bottom: 20px;
    }
    a {
      font-weight: 700;
      transition: all 0.25s ease-out;
    }
  }
  &__social {
    margin: 40px 0;
    display: flex;
    gap: 20px;
    a {
      display: inline-block;
      @media (hover: hover) {
        &:hover {
          svg {
            opacity: 0.7;
          }
        }
      }
    }
    svg {
      height: 30px;
      width: auto;
      opacity: 1;
    }
  }
  &-sched {
    line-height: 150%;
    letter-spacing: 0.02em;
    background-color: #fafafa;
    padding-top: 16px;
    padding-bottom: 16px;
    @media (min-width: 340px) and (max-width: 767px) {
      padding-top: calc(16px + 10px);
      padding-bottom: calc(16px + 10px);
    }
    @media (min-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__wrap {
      margin-left: 16px;
      margin-right: 16px;
      @media (min-width: 340px) and (max-width: 767px) {
        margin-left: calc(16px + 10px);
        margin-right: calc(16px + 10px);
      }
      @media (min-width: 768px) {
        margin-left: 20px;
        margin-right: 20px;
      }
      @media (min-width: 1024px) {
        margin-left: 60px;
        margin-right: 60px;
      }
    }
    &__heading {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &__item {
      margin-bottom: 20px;
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }
    &__title {
      font-size: 20px;
      font-weight: 600;
    }
    &__time {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      position: relative;
      right: 50%;
      left: 50%;
      margin-right: -50vw;
      margin-left: -50vw;
      width: 100vw;
    }
  }
}

// sb2-speaker style overrides in modal.
.speaker-modal {
  .sb2-speaker__name {
    font-size: 26px;
    @media (min-width: 768px) {
      font-size: 32px;
    }
    @media (min-width: 1024px) {
      margin-top: 0;
    }
  }
  .sb2-speaker__title {
    @media (min-width: 500px) and (max-width: 1023px) {
      max-width: 70%;
    }
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
  .sb2-speaker__company-container {
    justify-content: unset;
  }
  .sb2-speaker__company-text {
    font-size: 26px;
  }
  .sb2-speaker__company-logo {
    max-width: 100%;
    height: 70px;
    @media (min-width: 360px) {
      max-width: 280px;
    }
  }
  @media (min-width: 1024px) {
    .sb2-speaker__figure {
      text-align: left;
      flex: 0 0 300px;
    }
  }
}

// Animation effects.
@media (hover: hover) {
  .has-animation-scale-2 {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: translate3d(0, 0, 0);
    &:hover {
      transform: scale(1.013);
    }
  }
  .has-animation-bump {
    transition-property: transform;
    transition-duration: 0.3s;
    &:hover {
      transform: translate3d(0, -8px, 0);
    }
  }
}
