.wp-block-lf-buttons-with-expiry {
  display: flex;
  flex-wrap: wrap;

  &.aligncenter {
    justify-content: center;
  }

  .wp-block-lf-button-with-expiry {
    margin: 4px;
  }
}

.wp-block-lf-button-with-expiry {
  position: relative;
  border-radius: .5rem;


  .wp-block-button__link {
    text-transform: uppercase;
    padding: .85em 1em;
    border-radius: .5rem;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    transition: all .3s ease-in-out;
    font-family: inherit;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 0.25em 0 0 rgba(0,0,0,.1);
    &:not(.has-background) {
      background-color: #09c;

      &:hover {
        background-color: #0082ad;
      }
    }
    &:not(.has-text-color) {
      color: #fefefe;

      &:hover {
        color: #fefefe;
      }
    }
    &.disabled {
      cursor: default;
      pointer-events: none;
      background: #cccccc!important;
      color: #888888!important;
      box-shadow: none;
    }

    &.button-small {
      padding-bottom: .455rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-top: .455rem;
      font-size: .85rrem;
      border-radius: .5rem;
      line-height: 1.5!important;
    }

    &.button-medium {
      padding-bottom: .385rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-top: .385rem;
      font-size: 1rem;
      border-radius: .5rem;
      line-height: 1.5!important;
    }

    &.button-large {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: .585rem;
      padding-bottom: .585rem;
      font-size: 1.075rem;
      border-radius: .5rem; 
      line-height: 1.5!important;
    }

    &.button-xlarge {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      padding-top: .655rem;
      padding-bottom: .655rem;
      border-radius: .5rem;
      font-size: 1.15rem;
      line-height: 1.5!important;
    }

    &:hover {
      transition: all .3s ease-in-out;

      &.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
        background: linear-gradient(135deg,#015889,#723EA2)
      }
      
      &.has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background {
          background: linear-gradient(135deg,#03935E,#036BA5)
      }
      
      &.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
          background: linear-gradient(135deg,#63B392,#03935E)
      }
      
      &.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
          background: linear-gradient(135deg,#D29B03,#C15102)
      }
      
      &.has-luminous-vivid-orange-to-vivid-red-gradient-background {
          background: linear-gradient(135deg,#C15102,#A62626)
      }
      
      &.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
          background: linear-gradient(135deg,#D8D7D7,#8D9BA5)
      }
      
      &.has-cool-to-warm-spectrum-gradient-background {
          background: linear-gradient(135deg,#3abaaf,#735aa0 20%,#9e1c8e 40%,#b11e5f 60%,#c75651 80%,#c7c33b)
      }
      
      &.has-blush-light-purple-gradient-background {
          background: linear-gradient(135deg,#C19CB2,#7574B9)
      }
      
      &.has-blush-bordeaux-gradient-background {
          background: linear-gradient(135deg,#C8A385,#CB2727 50%,#6b003e)
      }
      
      &.has-purple-crush-gradient-background {
          background: linear-gradient(135deg,#2AB9BB,#3117AA 50%,#8E1AD2)
      }
      
      &.has-luminous-dusk-gradient-background {
          background: linear-gradient(135deg,#CEA357,#A0409A 50%,#4158d0)
      }
      
      &.has-hazy-dawn-gradient-background {
          background: linear-gradient(135deg,#C68986,#A69FB2)
      }
      
      &.has-pale-ocean-gradient-background {
          background: linear-gradient(135deg,#fce897,#8eb2a6 50%,#267f8a)
      }
      
      &.has-electric-grass-gradient-background {
          background: linear-gradient(135deg,#A5CA68,#71ce7e)
      }
      
      &.has-subdued-olive-gradient-background {
          background: linear-gradient(135deg,#FAFAC5,#52845A)
      }
      
      &.has-atomic-cream-gradient-background {
          background: linear-gradient(135deg,#FEC569,#002A32)
      }
      
      &.has-nightshade-gradient-background {
          background: linear-gradient(135deg,#16042C,#27A0A2)
      }
      
      &.has-midnight-gradient-background {
          background: linear-gradient(135deg,#010252,#205FCF)
      }
    }

    &:active {
      transition: all .3s ease-in-out;
      top: 1px;
  
      &.disabled {
        top: 0;
      }
    }
  }

  @media(max-width: 767px) {
    margin: auto auto 15px!important;
  }
}
