.wp-block-lf-buttons-with-expiry {
  display: flex;
  flex-wrap: wrap;

  &.aligncenter {
    justify-content: center;
  }

  .wp-block-lf-button-with-expiry {
    margin: 4px;
  }
}

.wp-block-lf-button-with-expiry {
  position: relative;
  border-radius: .5rem;
  transition: all .3s ease-in-out;
  box-shadow: 0 0.25em 0 0 rgba(0,0,0,.1);
  overflow: hidden;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    border-radius: 4px;
    z-index: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  a {
    padding: .85em 1em;
    border-radius: .5rem;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    transition: opacity .3s ease-in-out;
    background: transparent;
    color: #fefefe;
    background-color: #09c;
    border: 1px solid transparent;
    font-family: inherit;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;

    &.disabled {
      cursor: default;
      pointer-events: none;
      background-color: #cccccc;
      color: #888888;
      box-shadow: none;
    }
  }

  .wp-block-button__link {
    &:not(.has-background) {
      background-color: #09c;
      color: #fefefe;

      &:hover {
        background-color: #0082ad;
        color: #fefefe;
      }
    }
  }

  &.disabled {
    box-shadow: none;
  }

  &:active {
    transition: all .3s ease-in-out;
    top: 1px;

    &.disabled {
      top: 0;
    }

    a {

      &.disabled {
        top: 0;
      }
    }
  }

  &:hover {

    &:before {
      opacity: .3;
      transition: opacity .3s ease-in-out;
    }
  }

  @media(max-width: 767px) {
    margin: auto auto 15px!important;
  }
}
