.wp-block-buttons {
    .wp-block-button {
        transition: all .3s ease-in-out;
        position: relative;

        .wp-block-button__link {
            padding: .585rem 1.5rem;
            font-size: 1.075rem;
            text-transform: uppercase;
            line-height: 1.5!important;
        }

        &:active {
          transition: all .3s ease-in-out;
          top: 1px;
        }
    }
}