.wp-block-buttons {
    .wp-block-button {
        transition: all .3s ease-in-out;
        
        .wp-block-button__link {
            font-size: 1rem;
        }

        &:hover {
          transition: all .3s ease-in-out;
          top: 1px;
        }
    }
}