.main-container {
	background-color: $white;
	position: relative;
	z-index: 1;
}

.main-grid {
	@include xy-grid();
	// padding-top: 1rem;

	@include breakpoint(medium) {
		// padding-top: 3rem;
	}

	&.sidebar-left {
		// Place the sidebar below main content on small screens ...
		@include breakpoint(small) {
			.main-content {
				order: 1;
			}
			.sidebar {
				order: 2;
			}
		}

		// ... and to the left on medium-up screens, when using the sidebar-left template
		@include breakpoint(medium) {
			.main-content {
				order: 2;
			}
			.sidebar {
				order: 1;
			}
		}
	}

	// Full width template
	.main-content-full-width {
		@include xy-cell(12);
	}

	// Default template
	.main-content {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium) {
			// @include xy-cell(8);
		}
	}

	.sidebar {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium) {
			// @include xy-cell(4);
			padding-top: 1rem;
		}
	}
}

// Full image + a callout of text
.lfe-image-and-text {
	background-size: cover;

	img {
		position: relative;
		z-index: -2;
	}

	.text {
		background-color: $white;
		padding: 1rem;
		border-radius: 0.5rem;
		position: relative;
	}

	blockquote {
		margin-left: 2rem;
		padding: 0;
		border-left: 0;

		&::before {
			content: "\201F";
			float: left;
			font-size: 6rem;
			line-height: 1;
			width: 3rem;
			margin-top: -1rem;
			margin-left: -3rem;
			opacity: 0.4;
			text-align: center;
		}

		cite {
			margin-top: 0.5rem;
		}
	}

	@include breakpoint(medium down) {
		background-image: none !important;

		.text {
			margin: -1rem 1rem 1rem 1rem;

			&:before {
				position: absolute;
				z-index: -1;
				top: -0.5rem;
				left: -0.5rem;
				right: -0.5rem;
				height: 4rem;
				border-radius: 0.5rem;
				background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
				content: '';
			}
		}
	}

	@include breakpoint(large) {
		padding: 10vw;

		img {
			// opacity: 0;
			display: none;
		}

		.text {
			padding: 2rem;
		}
		&.pull-right .text {
			margin-left: 50vw;
		}
		&.pull-left .text {
			margin-right: 50vw;
		}
	}
}

.about-page-header {
	border-bottom: $hr-border;
	padding-top: $global-margin * 2;
	padding-bottom: $global-margin;
	margin-bottom: $global-margin * 2;

	& > * {
		margin-bottom: 0;
	}

	& + * {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
}

.excerpt-ellipses {
	opacity: 0.5;
}

.event-subpage-header {
	@include clearfix();
	margin: 0 -0.625rem $global-margin;
	display: flex;
	height: 200px;
	@media (min-width: 1024px) {
		height: 50vh;
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 3;
		mix-blend-mode: multiply;
		opacity: 0.8;
	}

	h1 {
		align-self: center;
		margin: 0 0 0 $global-margin*-1;
		padding: rem-calc(15) rem-calc(50) rem-calc(18);
		font-weight: $global-weight-bold;
		line-height: 1.2;
		max-width: 14em;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
}

.section-header {
	text-transform: uppercase !important;
	letter-spacing: 0.2em !important;
	word-spacing: 0.2em !important;
	margin-bottom: 1.5em !important;
	padding: 1rem !important;
}

.event-meta {
	color: $charcoal;
	font-weight: 600;

	.icon--inline {
		color: $lf-red;
	}
}

// Responsive embeds
.wp-block-embed.is-type-video .wp-block-embed__wrapper {
	@include responsive-embed(3 by 4);
}

.wp-block-embed.is-type-video.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
	@include responsive-embed(16 by 9);
}

// Sidebar widgets
.sidebar-widgets {
	.widget + .widget {
		margin-top: rem-calc(40);
		padding-top: rem-calc(30);
		border-top: $hr-border;
	}
}

// Styles for IE only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	// countdown clock
	.ub_countdown_circular_container {
		display: none;
	}
}

// Images in background (re-usable!)
// apply to container
.background-image-wrapper {
	overflow: hidden;
	position: relative;
}

figure {
	// properly reset for all browsers
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

// apply to figure
.figure-container img {
	width: 100%;
	// height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 1;
	// added below to stop flexbox messing with the height on load.
	display: block;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}

// apply to content inside
.content-wrapper {
	position: relative;
	z-index: 10;
}
