.main-container {
  background-color: $white;
  position: relative;
  z-index: 1;
}

.main-grid {
  @include xy-grid();
  // padding-top: 1rem;

  @include breakpoint(medium) {
    // padding-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      // @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      // @include xy-cell(4);
      padding-top: 1rem;
    }

  }
}


// Full image + a callout of text
.lfe-image-and-text {
  background-size: cover;

  img {
    position: relative;
    z-index: -2;
  }

  .text {
    background-color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
  }

  blockquote {
    margin-left: 2rem;
    padding: 0;
    border-left: 0;

    &::before {
      content: "\201F";
      float: left;
      font-size: 6rem;
      line-height: 1;
      width: 3rem;
      margin-top: -1rem;
      margin-left: -3rem;
      opacity: 0.4;
      text-align: center;
    }

    cite {
      margin-top: 0.5rem;
    }
  }

  @include breakpoint(medium down) {
    background-image: none !important;

    .text {
      margin: -1rem 1rem 1rem 1rem;

      &:before {
        position: absolute;
        z-index: -1;
        top: -0.5rem;
        left: -0.5rem;
        right: -0.5rem;
        height: 4rem;
        border-radius: 0.5rem;
        background: linear-gradient(rgba(0,0,0,0.1), transparent);
        content: '';
      }
    }
  }

  @include breakpoint(large) {
    padding: 10vw;

    img {
      // opacity: 0;
      display: none;
    }

    .text {
      padding: 2rem;
    }
    &.pull-right .text {  margin-left: 50vw; }
    &.pull-left .text {  margin-right: 50vw; }
  }
}


.about-page-header {
  border-bottom: $hr-border;
  padding-top: $global-margin * 2;
  padding-bottom: $global-margin;
  margin-bottom: $global-margin * 2;

  & > * {
    margin-bottom: 0;
  }

  & + * {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.excerpt-ellipses {
  opacity: 0.5;
}

.event-subpage-header {
  @include clearfix();
  margin: 0 -0.625rem $global-margin;
  padding: $global-margin;
  padding-top: 14vw;
  padding-bottom: 7vw;
  position: relative;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: multiply;
    opacity: 0.8;
  }

  h1 {
    position: relative;
    z-index: 1;
    float: left;
    margin: 0 0 0 $global-margin*-1;
    padding: rem-calc(15) rem-calc(50) rem-calc(18);
    font-weight: $global-weight-bold;
    line-height: 1.2;
    max-width: 14em;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
