.main-container-body {
  width: 100%;
  padding-bottom: 6rem;
}

.main-container {
  background-color: $white;
  position: relative;
  z-index: 1;

  a[href] {
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 100%;
    text-indent: 0;
  }
}

.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint(medium) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

// Updated Grid to match revised header.
.grid-container {
  padding-right: 1rem;
  padding-left: 1rem;

  @include breakpoint(medium) {
    padding-right: 28px;
    padding-left: 28px;
  }

}

.main-grid {
  @include xy-grid();

  // Updated Width to match revised header.
  .main-content-full-width {
    @include xy-cell(12);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 1rem;
    padding-left: 1rem;

    @include breakpoint(medium) {
      padding-right: 28px;
      padding-left: 28px;
    }

    // @include breakpoint(medium) {
    //   margin-left: 28px;
    //   margin-right: 28px;
    // }
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    // @include breakpoint(medium) {
    // @include xy-cell(8);
    // }
  }

  &.sidebar-left {

    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content {
        order: 1;
      }

      .sidebar {
        order: 2;
      }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content {
        order: 2;
      }

      .sidebar {
        order: 1;
      }
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      // @include xy-cell(4);
      padding-top: 1rem;
    }

  }
}

.excerpt-ellipses {
  opacity: 0.5;
}

.event-subpage-header {
  @include clearfix();
  margin-top: 0;
  margin-bottom: $global-margin;
  margin-right: -1rem;
  margin-left: -1rem;

  @include breakpoint(medium) {
    margin-left: -28px;
    margin-right: -28px;
  }

  padding: $global-margin;
  padding-top: 14vw;
  padding-bottom: 7vw;
  position: relative;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    mix-blend-mode: multiply;
    opacity: 0.8;
  }

  h1 {
    position: relative;
    float: left;
    margin: 0 0 0 $global-margin*-1;
    padding: rem-calc(15) $global-margin*1.5 rem-calc(18) $global-margin;
    font-weight: $global-weight-bold;
    line-height: 1.2;
    max-width: calc(100% - #{$global-margin});
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include breakpoint(medium down) {
      font-size: calc(1rem + 1vw);
    }

    @include breakpoint(large) {
      max-width: 14em;
      padding: rem-calc(15) rem-calc(50) rem-calc(18);
    }

    span {
      display: inline-block;
    }
  }
}

// Unused?
// .section-header {
//   text-transform: uppercase !important;
//   letter-spacing: 0.2em !important;
//   word-spacing: 0.2em !important;
//   margin-bottom: 1.5em !important;
//   padding: 1rem !important;
// }

.event-meta {
  color: $charcoal;
  font-weight: 600;

  .icon--inline {
    color: $lf-red;
  }
}

// Responsive embeds
.wp-block-embed.is-type-video .wp-block-embed__wrapper {
  @include responsive-embed(3 by 4);
}

.wp-block-embed.is-type-video.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  @include responsive-embed(16 by 9);
}

// Sidebar widgets
.sidebar-widgets {
  .widget+.widget {
    margin-top: rem-calc(40);
    padding-top: rem-calc(30);
    border-top: $hr-border;
  }
}

// Styles for IE only
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  // countdown clock
  .ub_countdown_circular_container {
    display: none;
  }
}

// Images in background (re-usable!)
// apply to container
.background-image-wrapper {
  overflow: hidden;
  position: relative;
}

figure {
  // properly reset for all browsers
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

// apply to figure
.figure-container img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  // added below to stop flexbox messing with the height on load.
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}

// apply to content inside
.content-wrapper {
  position: relative;
  z-index: 10;
}

.prevent-orphaned-icon {
  .icon--inline {
    margin-right: -1em;
  }
}

.is-style-lf-blue-gradient {
  background-image: linear-gradient(99.71deg, #0099CC 6.58%, #003366 94.38%);
}

.is-style-lf-red-gradient {
  background-image: linear-gradient(115.93deg, #7B4397 3.33%, #DC2430 104.48%);
}

.is-style-lf-green-gradient {
  background-image: linear-gradient(100.87deg, #38B7B8 23.69%, #5D9F35 98.05%);
}

// controls the post title on single posts.
.single-post .post-title {
  font-size: 1.8rem;

  @include breakpoint(medium) {
    font-size: 2.4rem;
  }

  @include breakpoint(large) {
    font-size: 2.5rem;
  }
}

.eyebrow {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 4px 7px;
  border-radius: 5px;
  text-transform: uppercase;
  color: $lf-primary-400;
  border: 1px solid $lf-primary-400;
  margin-bottom: 0.5rem;

  &.white {
    color: $white;
    border: 1px solid $white;
  }
}
