// event listing
.event-meta {
  color: $charcoal;
  font-weight: 600;

  .icon--inline {
    color: $lf-red;
  }

  .virtual .icon--inline {
    color: $lf-red;
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.2em;
  }
}
