// event listing
.event-meta {
  color: $charcoal;
  font-weight: 600;

  .icon--inline {
    color: $lf-red;
  }

  .virtual .icon--inline {
    color: $lf-red;
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.2em;
  }
}

// homepage listing
body.home {
  div.event {
    div.event-description {
      padding-left: 0.2rem;

      h5 {
        color: $charcoal;
        margin-bottom: .3rem;
        font-size: 1.15em;
        font-weight: bold;
      }

      p {
        margin-bottom: .6rem;
      }

      ul {
        list-style-type: none;
        margin-left: 0;
        line-height: 2;
        margin-bottom: 0;
      }
    }
  }
}

.callout {
  border-radius: 3px;
  box-shadow: 0 2px 5px #0000001a;
  border: none;
}