.site-footer {
  background-color: $lf-grey-700;
  color: $lf-gray;
  box-shadow: inset 0 10px 0 0 rgba(0, 0, 0, 0.1);
  font-size: rem-calc(12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;

  @include breakpoint(medium) {
    padding: 1rem;
    min-height: 200px;
  }

  a {
    color: $white-smoke;
    font-weight: 400;
    text-decoration: underline;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .widget {
    @include breakpoint(medium) {
      text-align: center;
      max-width: 50rem;
      margin-right: auto;
      margin-left: auto;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 3;

    @include breakpoint(large) {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    li {
      @include breakpoint(medium) {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }
}

.event-footer {
  background-color: rgba(10, 59, 97, 100);
  color: #ffffff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  a,
  button,
  .hs-button {
    color: inherit !important;
  }

  // wechat display.
  .dropdown-pane {
    width: auto;
    border: 0px;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
}

.event-footer-newsletter {
  margin-bottom: 3rem;

  &.black {
    .hs-button {
      border: 1px solid black;
    }

    .hs-error-msg {
      color: black;
    }

    .submitted-message {
      border: 2px solid black;

      p {
        margin-bottom: 0;
        color: black;
      }
    }
  }

  &.white {
    .hs-button {
      border: 1px solid $white;
    }
  }
}

.event-footer-newsletter__title {
  font-size: 1.3em;
  font-weight: 500;
}

.event-footer-newsletter__privacy {
  font-size: 0.7em;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    max-width: 800px;
  }

  a {
    font-weight: 600;
  }
}

.event-footer-logo-social {
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    margin-bottom: 2rem;
  }

  @media (min-width: 1024px) {
    align-items: center;
    width: 25%;
    min-width: 300px;
    margin-left: 25px;
  }

  @media (min-width: 1200px) {
    min-width: 350px;
    margin-left: 50px;
  }
}

.event-footer-logo-social__logo {
  @media (max-width: 767px) {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    img {
      max-height: 150px;
    }
  }

  @media (min-width: 768px) {
    min-width: 300px;

    img {
      max-height: 100px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 1200px) {
    min-width: 350px;
  }
}

.event-footer-logo-social__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-footer-logo-social__icons {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1;

  li {
    display: inline-block;
    margin: 0 0.5rem 0.5rem;

    &:hover {
      opacity: 0.75;
    }
  }

  &.black svg {
    fill: black;
  }

  &.white svg {
    fill: white;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
  }
}

.event-footer-logo-social__hashtag {
  align-self: center;

  p {
    font-weight: 700;
    margin-bottom: 0.5em;
  }
}

.event-footer-menu {
  margin-left: 0;
  list-style: none;
  max-width: 1000px;
  margin-bottom: 0;

  li {
    line-height: 1.2;
    padding-bottom: 1.2rem;
  }

  @media (max-width: 499px) {
    text-align: center;

    li {
      display: inline;

      &:after {
        // default dot - black.
        content: " ";
        letter-spacing: 2em;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=")
          center center no-repeat;
      }

      a {
        // needed so items don't wrap over multiple lines.
        white-space: nowrap;
      }
    }

    &.white {
      li:after {
        // makes dot between elements white in colour.
        filter: invert(1000%) brightness(1000%) contrast(1000%);
      }
    }
  }

  @media (min-width: 500px) {
    text-align: left;
    column-count: 2;
    column-gap: 20%;
    column-rule-style: solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    &.black {
      column-rule: 1px solid black;
    }

    &.white {
      column-rule: 1px solid white;
    }
  }

  li {
    break-inside: avoid;
  }

  @media (min-width: 768px) {
    column-count: 3;
    column-gap: 75px;
  }

  @media (min-width: 1024px) {
    width: initial;
    min-width: calc(75% - 200px);
    column-gap: 50px;
    margin-left: 75px;
  }

  @media (min-width: 1200px) {
    margin-left: 50px;
  }
}

.event-footer-alignment {
  max-width: 1100px;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}
