@media (max-width: 768px) {
  .home {
    .select2-search {
      .select2-search__field {
        border: none;
        box-shadow: none;
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
      }
    }
  }
}
