.hamburger-icon {
  @include hamburger($white, $white, 20px, 16px, 2px, 3);
}

// About Page nav
.main-header {
  @include clearfix;
  position: relative;
  z-index: 2;
  background-color: rgba(10,59,97,100);
  box-shadow: 0 0.5rem 0 0 rgba(0,0,0,0.2);
  color: #ffffff;
  padding: 1rem;

  @include breakpoint(large) {
    padding: 1rem 1.5rem;
  }

  .admin-bar &.is-stuck {
    top: 32px !important;
  }

  a {
    color: #ffffff !important;
  }

  .home-link {
    display: inline-block;
    padding: 0.5rem;

    img {
      width: rem-calc(340);
      max-width: 70vw;
    }
  }

  .main-menu {

    @include breakpoint(large) {
      // display: inline-block;
      float: right;
    }

    ul {
      @include menu-base();
      @include menu-direction(vertical);

      @include breakpoint(large) {
        @include menu-direction(horizontal);
      }
    }
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
