.non-event-hero {
  margin-bottom: 2rem;
  padding-top: 68px; // half of CCR value
  padding-bottom: 68px; // thalf of CCR value
  transition: padding .3s ease-in-out;

  @include breakpoint(medium) {
    margin-bottom: 2rem;
    padding-top: 162px; // to make 400px as per CCR
    padding-bottom: 162px; // to make 400px as per CCR

  }

  &>* {
    margin-bottom: 0;
  }

  &+* {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.non-event-hero {
  &.is-style-lf-blue-gradient {
    color: $white;

    h1,
    h2 {
      font-weight: 500;
    }

  }

}
