.non-event-hero {
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint(medium) {
    margin-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }


  &>* {
    margin-bottom: 0;
  }

  &+* {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.non-event-hero {
  &.is-style-lf-blue-gradient {
    color: $white;

    h1,
    h2 {
      font-weight: 500;
    }

  }

}
