// for the social-block plugin

.wp-block-lf-social-block {

  &[data-align*="center"] {

    text-align: center;
  }

  &[data-align*="left"] {
    text-align: left;
  }

  &[data-align*="right"] {
    text-align: right;
  }
}

.social-block-icon-wrapper {
  // reset.
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  // layout.
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  >* {
    margin-top: 1em;
    margin-bottom: 1em;

    &:not(:last-child) {
      margin-right: 10px;

    }
  }

  a[data-toggle="wechat-dropdown"] {
    display: inline-block;
  }

  svg {
    width: 35px;

    &:hover {
      filter: hue-rotate(15deg);
    }
  }
}

.social-block-dropdown {
  width: auto;
  border: 0;
  padding: .5rem;
  background-color: #fff;
  box-shadow: 0 0 0 .5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}
