.team-wrapper {
  padding: 20px;
  @media (min-width: 1000px) {
    padding: 40px;
  }
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: minmax(220px, auto);
  @media (min-width: 1000px) {
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
  }
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #003366;
}

.team-photo {
  border-radius: 50%;
}

.team-title {
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 2px;
  @media (min-width: 1000px) {
    margin-bottom: 5px;
  }
}

.team-description {
  text-align: center;
}
