//
// Full image + a callout of text
// --------------------------------------------------

.lfe-image-and-text {
  background-size: cover;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  max-height: 532px;

  img {
    position: relative;
    z-index: -2;
    width: 100%;
  }

  .text {
    background-color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    max-width: 616px;
    transform: translateY(-50%);
  }

  blockquote {
    margin-left: 2rem;
    padding: 0;
    border-left: 0;

    &::before {
      content: "\201F";
      float: left;
      font-size: 6rem;
      line-height: 1;
      width: 3rem;
      margin-top: -1rem;
      margin-left: -3rem;
      opacity: 0.4;
      text-align: center;
    }

    cite {
      margin-top: 0.5rem;
    }
  }

  @include breakpoint(medium down) {
    background-image: none !important;
    max-height: none;

    .lfe-image-and-text {
      max-height: none;
    }

    .text {
      margin: -1rem 1rem 1rem 1rem;
      position: relative;
      top: auto;
      transform: none;

      &:before {
        position: absolute;
        z-index: -1;
        top: -0.5rem;
        left: -0.5rem;
        right: -0.5rem;
        height: 4rem;
        border-radius: 0.5rem;
        background: linear-gradient(rgba(0,0,0,0.1), transparent);
        content: '';
      }
    }
  }

  @include breakpoint(large) {
    .text {
      padding: 2rem;
      margin: 1rem;
    }
    &.pull-right .text {  margin-left: 50%; }
    &.pull-left .text {  margin-right: 50%; }
  }

  @media print,screen and (min-width: 64em) {
    .lfe-image-and-text {
        padding:10vw!important;
    }

    .lfe-image-and-text img {
        display: none
    }

    .lfe-image-and-text .text {
        padding: 2rem;
        margin: 1rem;
    }

    .lfe-image-and-text.pull-right .text {
        margin-left: 50%
    }

    .lfe-image-and-text.pull-left .text {
        margin-right: 50%
    }
}
}
